.App {
  text-align: center;
}
.Products-content{
  padding-top: 100px;
  margin-left: 80px;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}


.text-card{

  font-weight: bold;
  

}
.text-cards{
  padding-top: 10px;
  font-weight: bold;
  

}
.imgl{
  
  width: 250px;
  height: 300px;
}
.contend-card{
  cursor: pointer;
  margin-left: 50px;
  margin-top: 50px;
  width: 300px;
  height: 400px;
  background-color: rgb(251, 251, 251);
  border-radius: 5%;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.56);
  
  
  
}
.contend-card:hover,.imgl:hover{
  
  background: rgba(0, 0, 0, 0.989);
  color: rgb(0, 255, 191);
  
}
.divone{
  margin-left: 25px;
  width: 250px;
  height: 300px;

}
.divtwo{
  
  margin-left: 25px;
  width: 250px;
  height: 40px;
  margin-top: 10px;
  
}
.divtres{
  background-color:black ;
  margin-left: 50px;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px 10px 0px 0px;
}
#divtres{
  color:rgb(255, 255, 255) ;

}
.add{
  margin-left: 230px;
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  height: auto;
  background-color: black;
  color: rgb(32, 215, 108);
  position:absolute;
  font-weight: bold;
  font-size: 12px;
  border-radius: 10px;
  
}
#df{
  
  font-size: 25px;
  font-weight: bold;
}
.txt{
  padding-top: 8px;
  padding-left: 5px;
  width: 50px;
  height: auto;
  
}
.ictx{
  
  width: auto;
  height: auto;

}




