.content-carousel{
    width: auto;
    height: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}.media-c{ 
    margin-left: 300px;
    width: 600px;
    
    background-color: rgb(0, 0, 0);
}
.info-c{
    width: 200px;
    height: 600px;
}



